.navbar {
    background-color: var(--navbar-bg-color) !important;
    color: var(--main-text-color) !important;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    border: none !important
}
.navbar-toggler-icon {
    font-size: 15px;
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus, .navbar-toggler-icon:active {
    box-shadow: none !important;
}

.navbar ul li a{
    color: rgb(219, 219, 219) !important;
}

.navbar .nav-link.active {
    color: var(--main-text-color) !important;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-brand img {
        transform: scale(0.8);
    }
    .navbar-brand .x-logo {
        display: none !important;
    }
    .navbar-brand .dcd-logo {
        margin-left: -10px;
    }
}